@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  background-color: var(--Background);
  height: calc(100vh- 8vh);
  color: white;
  font-family: "Lexend Deca";
}

#menu {
  display: flex;
  justify-content: center;
  background-color: var(--NavBar);
  height: 8vh;
}

#menu .vidinha {
  width: 12vw;
}

.PaiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  position: relative;
  bottom: 3vh;
}

.container {
  background-color: var(--Container);
  display: grid;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  border-radius: 7px;
  box-shadow: 0.1875rem 0.125rem 0.125rem rgba(8, 8, 8, 0.26);
}

.container h1 {
  position: relative;
  right: 5vh;
  bottom: 1.5vh;
}

.login {
  position: relative;
  bottom: 6vh;
}

.container .login .email {
  position: relative;
  bottom: 1vh;
}
.container .login p label {
  display: block;
  position: relative;
  top: 1vh;
}

.container .login p input {
  width: 30vw;
  height: 4vh;
  border: 0.1875rem solid var(--Background);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 2px;
  background-color: var(--Container);
  position: relative;
  top: 1vh;
  color: white;
}

.container .login p input::placeholder {
  font-weight: bold;
  color: var(--Background);
}

.container .login p input:focus {
  background-color: var(--Container);
  color: white;
  outline: none;
}

.container .login .email img,
.container .login .usuario img {
  width: 1.5vw;
  height: 2.5vh;
  position: relative;
  top: 2vh;
}

.login .botao {
  display: flex;
  justify-content: center;
}

.botao button {
  position: relative;
  top: 4vh;
  height: 5vh;
  width: 5vw;
  text-transform: uppercase;
  color: var(--Background);
  background-color: var(--Container);
  border: 0.3125rem solid var(--Background);
  transition: 0.5s;
  box-shadow: 0.3125rem 0.125rem 0.125rem rgba(8, 8, 8, 0.26);
  border-radius: 0.4375rem;
}

.botao button:hover {
  translate: 0.0625rem;
  color: var(--Container);
  background-color: var(--Background);
  border: 0.3125rem solid var(--Container);
}